## Zadania funkcje:

#### LESSER OF TWO EVENS: Napisz funkcję, która zwraca mniejszą z dwóch podanych liczb *jeśli* obie liczby są parzyste, ale zwraca większą, jeśli jedna lub obie liczby są nieparzyste
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

#### ANIMAL CRACKERS: Napisz funkcję pobiera ciąg składający się z dwóch słów i zwraca True, jeśli oba słowa zaczynają się od tej samej litery
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

#### MAKES TWENTY: Biorąc pod uwagę dwie liczby całkowite, zwróć True, jeśli suma liczb całkowitych wynosi 20 *lub*, jeśli jedna z liczb całkowitych wynosi 20. Jeśli nie, zwróć False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

#### OLD MACDONALD: 
Napisz funkcję, w której pierwszą i czwartą literę nazwy zaczyna się od pierwszej i czwartej litery
     
    old_macdonald('macdonald') --> MacDonald
    
Przykladowo: `'macdonald'.capitalize()` returns `'Macdonald'`

#### MASTER YODA: zwróć zdanie z odwróconymi słowami

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Uwaga: W tym przypadku przydatna może być metoda .join(). Metoda .join() umożliwia łączenie ze sobą ciągów w listę z jakimś ciągiem łącznika. Na przykład niektóre zastosowania metody .join():

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

Oznacza to, że jeśli masz listę słów, które chcesz zamienić z powrotem w zdanie, możesz po prostu połączyć je pojedynczym ciągiem spacji:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

#### ALMOST THERE: Biorąc pod uwagę liczbę całkowitą n, zwróć True, jeśli n jest w zakresie 10 od 100 lub 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
 `abs(num)` zwraca wartosc absolutna

#### FIND 33: 

Mając listę wartości int, zwróć True, jeśli tablica zawiera 3 obok 3 gdzieś.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

#### PAPER DOLL: Biorąc pod uwagę ciąg, zwróć ciąg, w którym na każdy znak w oryginale znajdują się trzy znaki
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

#### BLACKJACK: Biorąc pod uwagę trzy liczby całkowite od 1 do 11, jeśli ich suma jest mniejsza lub równa 21, zwróć ich sumę. Jeśli ich suma przekracza 21 *a* jest jedenaście, zmniejsz sumę o 10. Na koniec, jeśli suma (nawet po dostosowaniu) przekracza 21, zwróć 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

# Z gwiazdka

#### SPY GAME: Napisz funkcję, która pobiera listę liczb całkowitych i zwraca True, jeśli zawiera 007 w kolejności

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

#### COUNT PRIMES: Napisz funkcję, która zwraca *liczbę* liczb pierwszych, które istnieją do podanej liczby włącznie
    count_primes(100) --> 25

0 and 1 nie uznajemy za pierwsze